node_modules
public/build
public/hot
public/storage
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
storage/pail
bootstrap/cache/*.php
vendor
.env
.env.*
.git
.gitignore
.vscode
.idea
*.log
npm-debug.log
yarn-error.log
tests
README.md
.phpunit.cache
.phpunit.result.cache
